p{
    color: darkgreen;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}

<style>
@import url(https://fonts.google.com/share?selection.family=Coral+Pixels);
 p{
    font-family: 'Courier New', Courier, monospace;
 }

